.pagina{
    background-image: url(https://pbs.twimg.com/profile_images/466960124121464832/B7-OqD_3.jpeg);
    background-size: contain;
    max-height: 25%;
    max-width: 27%;
    text-align: center; 
}